/* https://github.com/Alexays/Waybar/wiki/Styling */
* {
    border: solid;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#window {
    font-weight: bold;
    font-family: "JetBrainsMono";
}

/* #workspaces {} */

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-top: 2px solid transparent;
}

#workspaces button.active {
    color: black;
    background: #F38BA8;
}

/* #workspaces button.focused { */
/*     color: black; */
/*     border-top: 2px solid black; */
/* } */

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

/* #clock, */
/* #battery, */
/* #cpu, */
/* #memory, */
/* #network, */
/* #pulseaudio, */
/* #custom-spotify, */
/* #tray, */
#mode {
    padding: 0 3px;
    margin: 0 2px;
}

#backlight {
    border-radius: 12px;
    padding: 0px 10px;
    background: #89B4FA;
    color: black;
}

#clock {
    border-radius: 12px 0 0 12px;
    padding: 0 0 0 10px;
    background-color: #ffffff;
    color: black;
    font-weight: bold;
}

#battery {
    border-radius: 12px;
    padding: 0px 10px;
    background-color: #ffffff;
    color: black;
}

#battery icon {
    color: red;
}

#battery.charging {
    background-color: #EF9F76;
}

@keyframes blink {
    to {
        background-color: #F38BA8;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: black;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    color: black;
    background-color: #F38BA8;
}

#network {
    border-radius: 12px;
    padding: 0px 10px;
    color: black;
    background: #A6E3A1;
}

#network.disconnected {
    background: #F38BA8;
}

#pulseaudio {
    border-radius: 12px;
    padding: 0px 10px;
    color: black;
    background-color: #F38BA8;
}

#pulseaudio.muted {
    color: white;
    background-color: #585B70;
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#tray {
    padding: 0px 10px;
    border-width: 2px;
    border-radius: 12px;
    border-color: #F38BA8;
}
